.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    img {
        width: 70%;
        object-fit: cover;
        border-radius: 50%;
    }
}

@media screen and (max-width: 40rem) {
    .profile-image {
        float: none;
        width: auto;
        img {
            width: 7.7rem;
        }
    }
}

@supports (display: grid) {
    .profile-image {
        grid-row: 1 / -1;
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile-image {
            grid-row: 1 / 2;
        }
    }
}
