.profile-card {
    display: flex;
    align-items: center;
    height: 65px;
    padding: 8px 14px;
    border-width: 0 0 1px 0;
    cursor: pointer;

    .profile-card-icon {
        padding: 0 10px 0 0;
    }

    .profile-card-info {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .profile-card-info-title {
            overflow: hidden;

            span {
                margin-right: 7px;
                line-height: 22px;
            }
        }

        .profile-card-info-subtitle {
            overflow: hidden;

            span {
                font-weight: 300;
            }
        }
    }

    .profile-card-actions {
        display: flex;

        >* {
            margin: 0 8px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .post img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}