.header {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .header-logo {
        display: flex;
        flex-grow: 1;
        margin: 7px 0 0 0;
        cursor: pointer;
    }

    .header-navigation {
        display: flex;
        flex-grow: 1;
        .nav {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
        
            .nav-item {
                margin: 0 0 0 22px;
        
                &:first-child {
                    margin: 0;
                }
            }
        }
    }

    .center-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}