.header {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .header-logo {
        display: flex;
        flex-grow: 1;
        margin: 7px 0 0 0;
        cursor: pointer;
    }

    .header-search {
        position: relative;

        .header-search-data {
            background-color: #fff;
            position: absolute;
            top: 30px;
            overflow-y: auto;
            width: 100%;
        }
    }

    .header-navigation {
        display: flex;
        flex-grow: 1;
    }

    .header-notification {
        max-height: 500px;
        overflow: auto;
        background-color: #fff;
        position: absolute;
        right: 0;
        overflow-y: auto;
        top: 58px;
        width: 500px;
    }

    .center-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}