.profile-stats {
    float: left;
    width: calc(66.666% - 2rem);
    margin-top: 2.3rem;
    li {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1.5;
        margin-right: 4rem;
        cursor: pointer;
    }
    li:last-of-type {
        margin-right: 0;
    }
}
@media screen and (max-width: 40rem) {
    .profile-stats {
        float: none;
        width: auto;
        flex-basis: 100%;
        order: 1;
        margin-top: 1.5rem;
        ul {
            display: flex;
            text-align: center;
            padding: 1.2rem 0;
            border-top: 0.1rem solid #dadada;
            border-bottom: 0.1rem solid #dadada;
        }
        li {
            font-size: 1.4rem;
            flex: 1;
            margin: 0;
        }
    }
}
@supports (display: grid) {
    .profile-stats {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile-stats {
            grid-column: 1 / -1;
            margin: 0;
        }
    }
}
