.wrap-notification{
    position: relative;
    
    .header-notification {
        max-height: 500px;
        overflow: auto;
        background-color: #fff;
        position: absolute;
        right: -52px;
        overflow-y: auto;
        top: 38px;
        width: 500px;
        border-radius: 6px;
        box-shadow: 0 0 6px -3px black;
    }
}